@import "../../styles/variable.scss";

.ItemDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 50%;
  max-width: 500px;
  margin: 50px 20px;
  color: $textPrimary;
}