@import "../../styles/variable.scss";

.Input {
  padding: 8px 0px;
  border-radius: 0;
  outline: 0;
  border: 1px solid $textPrimary;
  background-color: $backgroundPrimary;
  color: $textPrimary;
  font-weight: 600;
  width: 400px;
  height: 25px;
}
