@import "../../styles/variable.scss";

.SingleItem__header {
  margin-top: 50px;

  a {
    text-decoration: none;
    color: $textPrimary;
  }
}

.SingleItem__content {
  display: flex;
  justify-content: space-around;
}